#carouselExampleIndicators {
    margin: 0 auto;
    width: 900px; /* fixed width so we can get the faux screen to sit in place */
    position: relative;
  }
  .carousel-item active{
  margin: 0 40%;
  }